[core]
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = ssh://git@github.com/shopify/
[user]
	name = Chris Poirier
	email = voiid@users.noreply.github.com
[alias]
	please = push --force-with-lease
